@font-face {
	font-family: 'Kayak Sans';
	src: url('KayakSans-Light.eot');
	src: url('KayakSans-Light.eot?#iefix') format('embedded-opentype'),
		url('KayakSans-Light.woff2') format('woff2'),
		url('KayakSans-Light.woff') format('woff'),
		url('KayakSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Kayak Sans';
	src: url('KayakSans-BoldItalic.eot');
	src: url('KayakSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('KayakSans-BoldItalic.woff2') format('woff2'),
		url('KayakSans-BoldItalic.woff') format('woff'),
		url('KayakSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Kayak Sans';
	src: url('KayakSans.eot');
	src: url('KayakSans.eot?#iefix') format('embedded-opentype'),
		url('KayakSans.woff2') format('woff2'),
		url('KayakSans.woff') format('woff'),
		url('KayakSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kayak Sans';
	src: url('KayakSans-RegularItalic.eot');
	src: url('KayakSans-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('KayakSans-RegularItalic.woff2') format('woff2'),
		url('KayakSans-RegularItalic.woff') format('woff'),
		url('KayakSans-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Kayak Sans';
	src: url('KayakSans-LightItalic.eot');
	src: url('KayakSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('KayakSans-LightItalic.woff2') format('woff2'),
		url('KayakSans-LightItalic.woff') format('woff'),
		url('KayakSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Kayak Sans';
	src: url('KayakSans-Bold.eot');
	src: url('KayakSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('KayakSans-Bold.woff2') format('woff2'),
		url('KayakSans-Bold.woff') format('woff'),
		url('KayakSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

html, body {
  font-size: 18px;
  font-family: 'Kayak Sans', sans-serif, serif;
  line-height: 1.2em;
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
  padding: 0;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
}

.logo {
  display: block;
  max-height: 50px;
  margin: 0;
  padding: 0;
}

.navigation{
  /*display: flex;
  justify-content: space-between;*/
  margin: 1rem 0;
  padding: 1rem 0;
  height: 52px;
}

.navigation-list{
  display: flex;
  justify-content: space-around;
  list-style: none;
  /*text-align: center;*/
  padding: 0;
  margin-bottom: 1rem;
}

.navigation-link {
  color: #ff0017;
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  border-top: 1px solid #a80a37;
  border-bottom: 1px solid #a80a37;
  font-weight: bold;
}

.navigation-link:hover {
  background-color: #eaeaea;
  color: #a80a37;
  padding: 1rem;
  border-top: 2px solid #ff0017;
  border-bottom: 2px solid #ff0017;
}

a {
  text-decoration: none;
}

h4 {
  text-align: center;
}

.search {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#pageReq {
  margin-right: 5px;
  outline: none;
}

#pageReq:focus {
  margin-right: 5px;
  outline: none;
  border: 1px solid #ff0017;

}


#loadReq{
  background-color: #ff0017;
  outline: none;
  border: 1px solid #ff0017;
  border-radius: 3px;
  color: #fafafa;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

#loadReq:hover{
  background-color: #fafafa;
  outline: none;
  border: 1px solid #ff0017;
  border-radius: 3px;
  color: #ff0017;
  font-family: inherit;
  padding: 0.5rem 1rem;
}


.content {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Kayak Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: normal;

  color: #010101;
}

.title:visited {
  font-family: 'Kayak Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: normal;

  color: #a80a37;
}

.title:hover {
  font-family: 'Kayak Sans', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  line-height: normal;
  border-bottom: 1px solid #ff0017;
  color: #a80a37;
  transition: ease;
  transition-duration: 0.3s;
}

.ups::before {
  content: "\1f44d";
  margin-right: 5px;
}

.comments::before {
  content: '\1f4ac';
  margin-right: 5px;
}
